* {
  margin: 0;
  padding:0;
}

body {
  overflow-x: hidden;
}


.background{
    
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.flex-container {
    display:flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  
}



h2,p {
    color: white;
}

.card-text{
    color: black;
}

#search{
    padding-left: 8px;
}


#main-nav {
   padding-right: 5%;
 
} 



#navlogo {
    padding-left: 10px;
} 



#latestnewscarousel h5 {
    font-size: xx-large;
   
} 

#latestnewscarousel p {
    font-size: larger;
}  

#gaming-news {
    margin: 20px;
}
#gaming-news-row {
    margin: 70px;
    
}

#saints-row,
#destiny-card,
#pokemon-card,
#god-of-war-card{
  margin-right: 2em;
}
#reviews {
    margin: 20px;
}

#reviews-row {
    margin: 70px;  
} 

#kirby-card,
#ai-card,
#stray-card {
   margin-right: 1em;
} 

#kirby-card .card-title {
  position: relative;
  top: 4.8em;
}

#new-releases {
    margin: 20px;
}

#new-releases-row {
    margin: 70px;
}

#hogwarts-card,
#splatoon-3-card,
#gotham-knights-card,
#disney-dream-light-valley-card {
  margin-right: 1em;
}

footer {
    color: white;
    background-color: rgb(46, 44, 44) ;
    padding: 5%;
    margin-top: 10%;
   
} 

#footer-flex {
  display: flex;
  flex-direction: row-reverse;
 justify-content: space-evenly;
} 


#twitter-icon,
#instagram-icon {
    margin-left: 1em;
}

#footer-content {
  position: relative;
  left: 30%;
  top: 5em; 
}


#footer-info {
  margin-top: 5em;
  font-size: 21px;
}
 
#social-icons {
  margin-top: 3em;
  padding-inline-start: 2em; 

} 


  .footer-logo {
    max-width: 30%;
    height: auto;
    position: relative;
    left: 50%;
    border-radius: 10px;
  } 
  /*

  #facebook-icon,
  #twitter-icon,
  #instagram-icon {
   padding-left: 1em;
   position: relative;
   left: 10%;
   bottom: 8em;
    
  
  }
  

 /* #gaming-news {
    animation-name: fadein;
    animation-duration: 4s;
  } 

  @keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1; }
  } 
*/
  .reveal {
    
    opacity: 0;
    transition: 4s all ease;
    
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  } 


  @media (max-width:  991.98px) {
    footer {
     overflow: hidden;
    }
  }
  @media (max-width: 991.98px) {
    #footer-flex {
      display: flex;
      flex-direction: column;
    
    }
     
  }  

  @media (max-width:  991.98px) {
    #footer-img {
     max-width: 30em;
     position: relative; 
     right: 2em;
    
    }
  }

  @media (max-width:  991.98px){
    #facebook-icon,
    #twitter-icon,
    #instagram-icon {
      display: inline-flex;
      position: relative;
      right: 0.5em;
    } 
  }
  @media (max-width:  991.98px) {
    #footer-info {
     position: relative; 
     right: 1em;
     bottom: 2em;
     
    }
  } 

  @media (max-width: 991.98px) {
    #saints-row,
    #destiny-card,
    #pokemon-card,
    #god-of-war-card {
      margin-bottom: 1em;
    }
  } 

  @media (max-width: 991.98px) {
    #kirby-card,
    #ai-card,
    #stray-card {
      margin-bottom: 1em;
    }
  } 

  @media (max-width: 991.98px) {
    #hogwarts-card,
    #splatoon-3-card,
    #gotham-knights-card,
    #disney-dream-light-valley-card {
  margin-bottom: 1em;
}
  }


    
  